.player {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    gap: 10px;

    button {
        position: absolute;
        top: 0;
    }

    .finishedPlayer {
        color: gray;
        text-decoration: line-through;
    }
}

.cards {
    display: flex;
    gap: 2px;
    justify-content: center;
    transform: translateX(20px);
}

.top {
    grid-column: 2;
    grid-row: 1;
    transform: rotate(180deg);
}

.bottom {
    grid-column: 2;
    grid-row: 3;
}

.left {
    grid-column: 1;
    grid-row: 2;
    transform: rotate(90deg);
}

.right {
    grid-column: 3;
    grid-row: 2;
    transform: rotate(-90deg);
}

.currentPlayer {
    color: yellow;
    font-weight: bold;
}