@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html {
    font-family: "Lexend", sans-serif;
    padding: 0;
    margin: 0;
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;


    a {
        display: flex;
        align-items: center;
        color: white;
        gap: 10px;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 5px;
        border-radius: 10px;
        transition: all 200ms ease;


        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
}