.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    h1 {
        margin-top: 0px;
        font-size: 3rem;
        color: white;
        animation: jiggle 1s linear infinite;

        @keyframes jiggle {
            25% { transform: rotate(-2deg); }
            75% { transform: rotate(2deg); }
        }
    }

    button {
        font-family: inherit;
        text-transform: uppercase;
        padding: 10px 20px;
        margin-top: 10px;
        min-width: 300px;
        font-size: 1.25rem;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        background: transparent;
        border: 2px solid white;
        color: white;
        transition: background-color 200ms ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    a{
        color: white;
        text-decoration: none;
        font-size: 1rem;
        margin-top: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}