.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .gameContainer {
        width: 1000px;
        height: 660px;
        margin-top: 30px;
        margin-bottom: 50px;
        border-radius: 20px;
        text-transform: uppercase;
    }
}