.table {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    place-items: center;
    background-color: green;
    border-radius: 20px;
    box-sizing: border-box;
    border: 10px solid rgb(85, 41, 10);
    box-shadow: inset 0 10px 0 rgb(52, 25, 5);
    filter: drop-shadow(0 20px 0 rgb(85, 41, 10));

    .centerArea {
        grid-column: 2;
        grid-row: 2;

        .cards {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .errorPopup {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            min-width: 250px;
            text-align: center;
            background-color: rgba(255, 0, 0, 0.9);
            color: white;
            padding: 10px 20px;
            border-radius: 10px;
            font-weight: bold;
            z-index: 1000;
            opacity: 1;
            animation: fadeOut 3s forwards;
            @keyframes fadeOut {
                0% {
                    opacity: 1;
                }
                80% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }

        .gameOver {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
            padding: 20px;
            border-radius: 10px;
            font-weight: bold;
            z-index: 1000;
        }
    }

    button {
        font-family: inherit;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 200ms ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    
    .stats {
        position: absolute;
        display: flex;
        align-items: center;
        top: 20px;
        left: 10px;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 20px;
        border-radius: 10px;
        gap: 10px;

        button {
            border: 0;
            width: 40px;
            height: 40px;
            font-size: 1.75rem;


            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}